node_modules
dist
build
out
.turbo
.cache
coverage
*.tsbuildinfo

# env
.env
.env.*
!.env.example

# local data
.data/
*.sqlite
*.sqlite-journal
*.sqlite-wal
*.sqlite-shm

# editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# os
.DS_Store
Thumbs.db

# electron
apps/kiosk/out/

# logs
*.log
logs/

# generated jsdoc/docdash output
/doc/
